.main-container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}
.announcement{
    font-size: 2rem;
    text-align: center;
}
.hangman-container{
    position: relative;
};
.hangman-md-container{
    height: 400px;
    width: 10px;
    background: black;
    margin-left: 120px;
}
.hangman-btm-container{
    height: 10px;
    width: 250px;
    background: black;
}
